.post {
  width: 52rem;
  background: var(--gray-800);
  border-radius: 8px;
}
.post + .post {
  margin-top: 2rem;
}

.header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 2.5rem 2.5rem 1.5rem 2.5rem;
}

.imgProfile {
  box-sizing: initial;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 8px;

  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);

  margin-right: 1rem;
}

.wrapperInfUser {
  display: flex;
  align-items: center;
}

.wrapperInfProfile {
  display: flex;
  flex-direction: column;
}

.post strong {
  font-size: 1rem;
  color: var(--gray-100);
  line-height: 1.6;
}

.post span {
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.mansage {
  padding: 0 2.5rem 1.5rem 2.5rem;
  color: var(--gray-200);
  line-height: 1.6;
}

.mansage p {
  margin-top: 1rem;
}
.mansage a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
}

.comentForm {
  border-top: 1px solid var(--gray-600);
  padding: 0 2.5rem 2.5rem 2.5rem;

  display: flex;
  flex-direction: column;
}

.comentForm strong {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.comentForm textarea {
  height: 6rem;
  border-radius: 8px;
  resize: none;
  padding: 1rem;
  background: var(--gray-900);
  margin-bottom: 1rem;
  border: none;
  color: var(--gray-300);
}
.comentForm footer {
  visibility: hidden;
  max-height: 0;
}

.comentForm:focus-within footer{
  visibility: visible;
  max-height: none;
}

.comentForm button {
  background: var(--green-500);
  color: var(--white);
  border: 1px solid var(--green-500);
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 1rem 1.5rem;
  width: 6.75rem;
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
}

.comentForm button:hover {
  background: var(--green-400);
  color: var(--white);
}
